<div class="card">
    <div class="card-header">
        {{ pageTitle }}    
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-2" *ngIf="true">Filter By:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="listFilter">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                Filtered By: {{ listFilter }}
            </div>
        </div>

        <div class="table-responsive">
            <table class="table" *ngIf="filteredProducts.length">
                <thead>
                    <tr>
                        <th>
                            <button (click)="toggleImage()" class="btn btn-primary">
                                {{ showImage ? 'Hide' : 'Show'}} image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 star rating</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let product of filteredProducts">
                        <td>
                            <img
                             *ngIf="showImage"
                             src="{{ product.imageUrl }}"
                             alt="{{ product.productName }}"
                             [style.width.px]="width"
                             [style.margin.px]="margin">
                        </td>
                        <td>
                            <a [routerLink]="['/products', product.id]">{{ product.productName }}</a>
                        </td>
                        <td>{{ product.productCode | lowercase | convertToSpaces:'-' }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>{{ product.price | currency: 'USD':'symbol':'1.2-2' }}</td>
                        <apm-star [rating]="product.starRating" (ratingEvent)="onRatingClick($event)"></apm-star>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>